﻿@model WebApi.Models.TranslaterModel



<h2>Add/Edit Translater</h2>

@using (Html.BeginForm(ViewData["TargetAction"].ToString(), "Crud"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.tranid)

    <div class="editor-label">@Html.LabelFor(m => m.tname)</div>
    <div class="editor-field">@Html.EditorFor(m => m.tname)</div>

    <div class="editor-label">@Html.LabelFor(m => m.tskill)</div>
    <div class="editor-field">@Html.EditorFor(m => m.tskill)</div>

    <div class="editor-label">@Html.LabelFor(m => m.tlanguage)</div>
    <div class="editor-field">@Html.EditorFor(m => m.tlanguage)</div>

    <input type="submit" value="SEND" />
}
