﻿@model IEnumerable<WebApi.Models.TranslaterModel>

<p style="color:red">@TempData["result"]</p>

@if (Model.Count() == 0)
{
    <p>No data in DB!</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.tranid)</th>
                <th>@Html.DisplayNameFor(m => m.tname)</th>
                <th>@Html.DisplayNameFor(m => m.tskill)</th>
                <th>@Html.DisplayNameFor(m => m.tlanguage)</th>
                <th>Datasheet</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.tranid)</td>
                    <td>@Html.DisplayFor(m => item.tname)</td>
                    <td>@Html.DisplayFor(m => item.tskill)</td>
                    <td>@Html.DisplayFor(m => item.tlanguage)</td>
                    <td>@Html.ActionLink("Details", "Details", new { id = item.tranid })</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.tranid })</td>
                    <td>@Html.ActionLink("Remove", "Remove", new { id = item.tranid })</td>
                </tr>
            }
        </tbody>
    </table>
}
