﻿@model WebApi.Models.TranslaterModel

@{
    ViewBag.Title = "CrudDatasheet";
}

<h2>CrudDatasheet</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.tranid)</td>
        <td>@Html.DisplayFor(m => m.tranid)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.tname)</td>
        <td>@Html.DisplayFor(m => m.tname)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.tskill)</td>
        <td>@Html.DisplayFor(m => m.tskill)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.tlanguage)</td>
        <td>@Html.DisplayFor(m => m.tlanguage)</td>
    </tr>
</table>

